*{
    margin:0;
    padding: 0;

}
body{
    background-color: rgb(41, 40, 40);

}
.main{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color:whitesmoke;
margin:2rem 20px;
min-height:45rem;

}
.right{
    margin-top:-15rem;
    color:rgb(41, 40, 40);
}
.hello{ 
    font-size: clamp(3rem,4.5vw, 7rem);
    margin-left: -5.5rem;
    padding-top:14px;
    line-height: 7rem;

}
.hello1{ 
    font-size: clamp(3rem,4.5vw, 7rem);
    margin:auto 20px ;
    line-height: 5rem;

}

.adrianna{
height: 38rem;
}
.text{
    margin:20px;
}
.btn{
    display: flex;
    flex-direction: column;
}
.black{
    width: 20rem;
    padding: 10px;
    background-color:rgb(42, 40, 40);
    border-radius: 20px;
    margin: 7px auto;
    color:whitesmoke;
    cursor: pointer;


}
.left-first{
    display: flex;
    color:rgb(41, 40, 40);
    padding: 10px;


}
.insta a{
    text-decoration: none;
    color:rgb(41, 40, 40);
    padding: 30px;
    font-size: 1.5rem;
}

@media (min-width:0) and (max-width:850px){
    body{
        background-color: whitesmoke;
    }


    .main{
        flex-direction: column-reverse;
    }
    .right{
        margin-top:0;

    }
    .left{
        display: flex;
        flex-direction: column-reverse;
        padding:5px;

    }
    .hello{ 
        margin-left: .8rem;
        padding-top:14px;
        line-height: 7rem;
    }
    .hello1{
        margin:auto 10px ;
        line-height: 3rem;
    }
    
    .left-first{
       padding: 10px;
    }
}